body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;   
}
h{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 5%;
    width:10%;
    padding:10%;
    border:10px solid green;
    transition: transform 3.3s ease;

}
h:hover{
    border: 10px purple;
}