.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

table ,th,td{
    border: 5px solid black;
    border-width: 5px;
    margin:10px 0;
    padding:2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.popular{
    background-color: green;

}
.one{
    background-color: red;
}
.two {
    background-color: blue;
}
.one:hover{
    background-color: aqua;
}
.two:hover{
    background-color: aqua;
}